header{
	width: 100%;
	min-height: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: spacing(1) 0;
	
	@include type-setting(2);
	color: $highlight;
	text-align: center;
	
	background-color: white;
	transition: .2s background-color;
	
	.title{
		width: 100%;
	}

	&.gryffindor {
		background-color: $gryffindor;
	}

	&.slytherin {
		background-color: $slytherin;
	}

	&.hufflepuff {
		background-color: $hufflepuff;
	}

	&.ravenclaw {
		background-color: $ravenclaw;
	}
}