main{
	max-width: $max;
	min-height: 50rem;
	background-color: $white;
	
	margin-left: auto;
	margin-right: auto;
	padding: spacing(1);
	
	@include type-setting(2);
	color: $black;
	text-align: center;
}	